{
 "openapi": "3.1.0",
 "info": {
  "title": "Fernscout API v2",
  "version": "2.0.0-concept",
  "description": "The complete v2 contract, as designed 2026-09-12 (B1587). Core document schemas are generated directly from the Zod source on branch b1587-api-v2-schemas; area schemas transcribe the six reviewed area contracts. Everything is asked-or-declined: a declinable section is present, or named in `declined` with a reason (>=10 chars) \u2014 silent omission answers 422 whose body lists every open question. Every write echoes the full stored document. Client-chosen ids everywhere (retried create -> 409 with the stored document); the one exception is media `src`, a hash of the bytes."
 },
 "servers": [
  {
   "url": "https://fernscout.ch"
  }
 ],
 "tags": [
  {
   "name": "Core documents",
   "description": "The decided heart of v2: journal, trip, day, figures, media, and the two status reads. Reviewed field by field; schemas generated directly from the Zod source on branch b1587-api-v2-schemas."
  },
  {
   "name": "Auth",
   "description": "Credential doors: one-time codes, one-click links, cookie lifecycle, handover minting/exchange, signup phone proof, and an owner's/caller's live write-capable keys. Bearer = write credential over Authorization only; guest and identity are httpOnly cookies only; resolveSession refuses either presented down the wrong channel. An identity proves an address instance-wide and authorises nothing by itself."
  },
  {
   "name": "Social",
   "description": "Invite links, the contacts queue (owner and reader sides), day sending (mail/WhatsApp), journal channel mute switches, and reader reactions."
  },
  {
   "name": "Print",
   "description": "Postcards and photobooks: an agent may propose a postcard order and read either order's state; only the owner's own browser can edit a still-draft card, press send, or buy a photobook. Address lookup and the Gelato/Stannp provider webhooks live here too."
  },
  {
   "name": "Money",
   "description": "Credits, purchases, storage blocks and the operator's grant/refund doors. A purchase is a mailed proposal that never itself grants a credit \u2014 only the operator-approval door and the Stripe webhook ever raise a balance, per test/credits.test.ts's GRANT_ALLOWED allowlist."
  },
  {
   "name": "Web",
   "description": "The cookie-only /api/web surface: the /agent helper's backend, push, /me, sync/export, EditDay's cookie proxies, and deletion confirmation. Everything here answers only a browser session (isHelperOwner / isOwner / resolveIdentity); none of it accepts a bearer Authorization header, and several routes refuse one outright with 403 not_for_agents rather than silently ignoring it. The organising move versus v1: a route that only differed from its v2 sibling by credential collapses into a thin cookie-to-bearer proxy in front of the v2 document; only a route that does something no v2 write could express (a real send, a real delete, spending the owner's own money) stays a genuine web-only capability."
  },
  {
   "name": "Content",
   "description": "The long tail the decided core (trip/day/journal/figures/media/status) does not cover: the deliberate publish/unpublish second call, the costs-statement agree-flow, track drawing, geocoding, traveller vocabulary, schema-generated documentation, journal lifecycle (create/delete), and inbox reading. Every route lives under /api/v2/{user}/... (bearer) unless it is journal-unscoped (geocode, journals, journals/available)."
  }
 ],
 "paths": {
  "/api/v2/status": {
   "get": {
    "tags": [
     "Core documents"
    ],
    "operationId": "coreInstanceStatus",
    "summary": "The instance: capabilities, limits, media formats, pricing",
    "description": "What this server can do and on what terms. No journal, no auth. Capabilities are the operator's plumbing \u2014 where the per-journal features block went. Pricing keys are pinned: postcard, storage_5gb, helper_photos_per_credit, credit_chf; photobook is deliberately absent (live quote, not a constant).",
    "responses": {
     "200": {
      "description": "Instance status",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/InstanceStatus"
        }
       }
      }
     }
    }
   }
  },
  "/api/v2/{user}/status": {
   "get": {
    "tags": [
     "Core documents"
    ],
    "operationId": "coreJournalStatus",
    "summary": "The journal and this token: credits, drafts, trips, storage, inbox, scope",
    "description": "The agent's pre-flight read. Drafts are the to-do list (widened with title and test per Q14/T-review). The token block is the one place a credential discovers its own width \u2014 owner-wide or one trip.",
    "security": [
     {
      "bearerAuth": []
     }
    ],
    "parameters": [
     {
      "$ref": "#/components/parameters/user"
     }
    ],
    "responses": {
     "200": {
      "description": "Journal status",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/JournalStatus"
        }
       }
      }
     },
     "401": {
      "description": "missing_token / invalid_token",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     }
    }
   }
  },
  "/api/v2/{user}": {
   "get": {
    "tags": [
     "Core documents"
    ],
    "operationId": "coreReadJournal",
    "summary": "Read the journal document",
    "description": "The editable identity (title, owner, locales, baseCurrency, displayCurrencies, units, visibility, tagline, figures) plus the server-owned username. The live numbers \u2014 storage, drafts, trips, credits \u2014 live on /{user}/status: one fact, one address.",
    "security": [
     {
      "bearerAuth": []
     }
    ],
    "parameters": [
     {
      "$ref": "#/components/parameters/user"
     }
    ],
    "responses": {
     "200": {
      "description": "The journal document",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/JournalDoc"
        }
       }
      }
     },
     "404": {
      "description": "no_such_journal",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     }
    }
   },
   "patch": {
    "tags": [
     "Core documents"
    ],
    "operationId": "corePatchJournal",
    "summary": "Edit the journal (merge patch)",
    "description": "Owner only. Send only what changes (RFC 7396 semantics over the journalWrite shape). tagline and figures are declinable; visibility, units and displayCurrencies are required-explicit on the full document. A features block, startLocation, or any unknown key is refused \u2014 the strict shape is what makes a typo'd field fail loudly.",
    "security": [
     {
      "bearerAuth": []
     }
    ],
    "parameters": [
     {
      "$ref": "#/components/parameters/user"
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/JournalPatch"
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "The full stored document \u2014 the echo is the receipt",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/JournalDoc"
        }
       }
      }
     },
     "403": {
      "description": "forbidden \u2014 not the owner's token",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "422": {
      "description": "incomplete / invalid \u2014 details follows IncompleteDetails for silent omissions",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     }
    }
   },
   "delete": {
    "tags": [
     "Core documents"
    ],
    "operationId": "coreDeleteJournal",
    "summary": "Ask to delete the journal \u2014 202, a mail decides",
    "description": "Removes nothing. The server mails the owner's configured address a single-use link; only that page's button deletes. An agent reporting 202 as 'deleted' has said something false: say a mail is waiting, and stop.",
    "security": [
     {
      "bearerAuth": []
     }
    ],
    "parameters": [
     {
      "$ref": "#/components/parameters/user"
     }
    ],
    "responses": {
     "202": {
      "description": "Deletion mail sent \u2014 nothing removed yet"
     },
     "403": {
      "description": "forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     }
    }
   }
  },
  "/api/v2/{user}/trips": {
   "get": {
    "tags": [
     "Core documents"
    ],
    "operationId": "coreListTrips",
    "summary": "List trips (summaries)",
    "security": [
     {
      "bearerAuth": []
     }
    ],
    "parameters": [
     {
      "$ref": "#/components/parameters/user"
     }
    ],
    "responses": {
     "200": {
      "description": "Trip summaries",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "type": "object",
          "properties": {
           "id": {
            "type": "string"
           },
           "title": {
            "type": "string"
           },
           "dates": {
            "type": "object"
           },
           "visibility": {
            "type": "string"
           }
          }
         }
        }
       }
      }
     }
    }
   },
   "post": {
    "tags": [
     "Core documents"
    ],
    "operationId": "coreCreateTrip",
    "summary": "Create a trip \u2014 the whole document at once",
    "description": "Every declinable section (rates, costs, plan, days, translations, accent, cover, tagline, intro, and \u2014 public trips only \u2014 listed) is present or named in declined with a reason \u226510 chars. A solo trip declines buddies; a closed trip answers teaser true/false. Silent omission answers 422 listing every missing section with why_required, a schema excerpt, and how to decline \u2014 the refusal is the documentation. Retried create of an existing id \u2192 409 with the stored document.",
    "security": [
     {
      "bearerAuth": []
     }
    ],
    "parameters": [
     {
      "$ref": "#/components/parameters/user"
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/TripCreate"
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "The full stored trip document, declined map and server-owned fields included; notifications reports any buddy mails sent",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/TripDoc"
        }
       }
      }
     },
     "409": {
      "description": "conflict \u2014 id exists; body is the stored document",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/TripDoc"
        }
       }
      }
     },
     "422": {
      "description": "incomplete \u2014 details.missing lists every open question",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     }
    }
   }
  },
  "/api/v2/{user}/trips/{trip}": {
   "get": {
    "tags": [
     "Core documents"
    ],
    "operationId": "coreReadTrip",
    "summary": "Read the whole trip: metadata, people, money, plan, figures, every day inline",
    "security": [
     {
      "bearerAuth": []
     }
    ],
    "parameters": [
     {
      "$ref": "#/components/parameters/user"
     },
     {
      "$ref": "#/components/parameters/trip"
     }
    ],
    "responses": {
     "200": {
      "description": "The trip document. Server-owned: status (derived from dates, stored nowhere), cover-in-effect, track presence, notifications",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/TripDoc"
        }
       }
      }
     },
     "404": {
      "description": "unknown_trip",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     }
    }
   },
   "patch": {
    "tags": [
     "Core documents"
    ],
    "operationId": "corePatchTrip",
    "summary": "Edit the trip (merge patch); days key refused on update",
    "description": "A day changes through its own route \u2014 deleting one must never be a side effect of shortening a list. Sending the retired status or tracks keys, or teaser/listed against the wrong visibility, is refused, not ignored. Concurrency: ETag/If-Match, stale write \u2192 409 with the current document.",
    "security": [
     {
      "bearerAuth": []
     }
    ],
    "parameters": [
     {
      "$ref": "#/components/parameters/user"
     },
     {
      "$ref": "#/components/parameters/trip"
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/TripCreate"
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "The full stored document",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/TripDoc"
        }
       }
      }
     },
     "409": {
      "description": "conflict \u2014 stale If-Match; body is the current document",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/TripDoc"
        }
       }
      }
     },
     "422": {
      "description": "incomplete / invalid",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     }
    }
   },
   "delete": {
    "tags": [
     "Core documents"
    ],
    "operationId": "coreDeleteTrip",
    "summary": "Ask to delete the trip \u2014 202, a mail decides",
    "security": [
     {
      "bearerAuth": []
     }
    ],
    "parameters": [
     {
      "$ref": "#/components/parameters/user"
     },
     {
      "$ref": "#/components/parameters/trip"
     }
    ],
    "responses": {
     "202": {
      "description": "Deletion mail sent \u2014 nothing removed yet"
     }
    }
   }
  },
  "/api/v2/{user}/trips/{trip}/days/{slug}": {
   "put": {
    "tags": [
     "Core documents"
    ],
    "operationId": "coreWriteDay",
    "summary": "Write one day \u2014 arrives as a draft, always",
    "description": "All 14 sections asked-or-declined (media, costs, coordinates, weather, time, timezone, location, country, countryCode, transportMode, tags, translations, visibility, status). status accepts the literal \"draft\" only; publish is its own call. Media items reference the src the media door answered with; caption and per-photo hold-back live on each item. A write that supplies what was previously declined clears the decline (server invariant, T6).",
    "security": [
     {
      "bearerAuth": []
     }
    ],
    "parameters": [
     {
      "$ref": "#/components/parameters/user"
     },
     {
      "$ref": "#/components/parameters/trip"
     },
     {
      "$ref": "#/components/parameters/slug"
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/DayWrite"
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "The stored day; media items carry their served url, weather stays true until the archive answers",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/DayDoc"
        }
       }
      }
     },
     "409": {
      "description": "conflict \u2014 slug exists (repeated create answers the stored document, never a second success)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/DayDoc"
        }
       }
      }
     },
     "422": {
      "description": "incomplete \u2014 every silently omitted section named in one round trip",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     }
    }
   },
   "patch": {
    "tags": [
     "Core documents"
    ],
    "operationId": "corePatchDay",
    "summary": "Correct a day (merge patch)",
    "security": [
     {
      "bearerAuth": []
     }
    ],
    "parameters": [
     {
      "$ref": "#/components/parameters/user"
     },
     {
      "$ref": "#/components/parameters/trip"
     },
     {
      "$ref": "#/components/parameters/slug"
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/DayWrite"
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "The stored day",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/DayDoc"
        }
       }
      }
     }
    }
   },
   "delete": {
    "tags": [
     "Core documents"
    ],
    "operationId": "coreDeleteDay",
    "summary": "Delete one day",
    "security": [
     {
      "bearerAuth": []
     }
    ],
    "parameters": [
     {
      "$ref": "#/components/parameters/user"
     },
     {
      "$ref": "#/components/parameters/trip"
     },
     {
      "$ref": "#/components/parameters/slug"
     }
    ],
    "responses": {
     "204": {
      "description": "Deleted"
     },
     "404": {
      "description": "unknown_day",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     }
    }
   }
  },
  "/api/v2/{user}/media": {
   "get": {
    "tags": [
     "Core documents"
    ],
    "operationId": "coreListMedia",
    "summary": "List stored media items",
    "security": [
     {
      "bearerAuth": []
     }
    ],
    "parameters": [
     {
      "$ref": "#/components/parameters/user"
     }
    ],
    "responses": {
     "200": {
      "description": "Items",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/MediaItem"
         }
        }
       }
      }
     }
    }
   },
   "post": {
    "tags": [
     "Core documents"
    ],
    "operationId": "coreUploadMedia",
    "summary": "The single binary door: photo, bank_export, gps_history, document",
    "description": "Multipart: bytes under file, the intent beside them. Questions depend on kind \u2014 photo asks trip/day/caption, exports ask trip/format \u2014 and a question the kind is not asked is refused if present. Day-less trip-scoped photo writes are supported (T2), so a cover can exist before its first day. src is derived from the bytes (a hash): the one id the client does not choose, and why a blind re-send answers the existing item via duplicateOf. Originals are kept whole as the print master \u2014 send the largest file you have.",
    "security": [
     {
      "bearerAuth": []
     }
    ],
    "parameters": [
     {
      "$ref": "#/components/parameters/user"
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "multipart/form-data": {
       "schema": {
        "type": "object",
        "properties": {
         "file": {
          "type": "string",
          "format": "binary"
         },
         "intent": {
          "$ref": "#/components/schemas/MediaIntent"
         }
        },
        "required": [
         "file",
         "intent"
        ]
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "The stored item",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/MediaItem"
        }
       }
      }
     },
     "200": {
      "description": "Duplicate bytes \u2014 the existing item, duplicateOf set",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/MediaItem"
        }
       }
      }
     },
     "413": {
      "description": "too_large \u2014 read the ceilings from /api/v2/status first",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "422": {
      "description": "incomplete \u2014 a kind's question silently omitted",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     }
    }
   },
   "delete": {
    "tags": [
     "Core documents"
    ],
    "operationId": "coreDeleteMedia",
    "summary": "Delete one media item by src",
    "description": "Also the only road to a better version of a photograph already on a day: dedup compares bytes, so a larger export lands as a second item \u2014 delete first, then re-upload.",
    "security": [
     {
      "bearerAuth": []
     }
    ],
    "parameters": [
     {
      "$ref": "#/components/parameters/user"
     }
    ],
    "responses": {
     "204": {
      "description": "Deleted"
     }
    }
   }
  },
  "/api/v2/{user}/figures": {
   "get": {
    "tags": [
     "Core documents"
    ],
    "operationId": "coreListFigures",
    "summary": "The figure library",
    "security": [
     {
      "bearerAuth": []
     }
    ],
    "parameters": [
     {
      "$ref": "#/components/parameters/user"
     }
    ],
    "responses": {
     "200": {
      "description": "Figures",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/FigureDoc"
         }
        }
       }
      }
     }
    }
   }
  },
  "/api/v2/{user}/figures/{id}": {
   "put": {
    "tags": [
     "Core documents"
    ],
    "operationId": "coreWriteFigure",
    "summary": "Create or update one figure",
    "description": "How somebody is drawn as a walking traveller, once, referenced by id from journal.figures and trip.figures. The optional person link (an email) is the foundation for the future people/buddy mode \u2014 nothing reads it yet. preset is refused structurally: a starting point resolves to plain attributes client-side, and only attributes are written.",
    "security": [
     {
      "bearerAuth": []
     }
    ],
    "parameters": [
     {
      "$ref": "#/components/parameters/user"
     },
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/FigureDoc"
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "The stored figure",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FigureDoc"
        }
       }
      }
     },
     "422": {
      "description": "invalid \u2014 unknown axis value or unknown key",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     }
    }
   },
   "delete": {
    "tags": [
     "Core documents"
    ],
    "operationId": "coreDeleteFigure",
    "summary": "Remove one figure (refused while referenced)",
    "security": [
     {
      "bearerAuth": []
     }
    ],
    "parameters": [
     {
      "$ref": "#/components/parameters/user"
     },
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "204": {
      "description": "Deleted"
     },
     "409": {
      "description": "in_use \u2014 a journal or trip figures block still references it",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     }
    }
   }
  },
  "/api/auth/codes": {
   "post": {
    "tags": [
     "Auth"
    ],
    "summary": "Issue a one-time code",
    "description": "One door, parameterised by `for`, replacing v1's three near-identical request routes (guest/agent, identity, signup). Answers 202 for every address-dependent outcome except one deliberate exception: an agent (`for:\"write\"`) code for an address that is neither the journal's owner nor on the named trip answers 403 truthfully, because the cost of silence there falls on an honest agent that cannot tell \"wrong address\" from \"still delivering\". A guarded send failure revokes the code before returning, so a live code is never left behind for a send that never happened.",
    "operationId": "authIssueCode",
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/AuthCodeRequest"
       }
      }
     }
    },
    "responses": {
     "202": {
      "description": "Code dispatched, or silently not \u2014 every address-dependent outcome other than the write/wrong-address case above answers identically: unknown user, unknown address, WhatsApp requested for a non-owner or unproven number, either channel's rate ceiling exceeded.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AuthCodeAccepted"
        }
       }
      }
     },
     "400": {
      "description": "invalid_email / invalid_request \u2014 shape only: malformed address, missing `user` where `for` requires it, `user`/`scope` present where `for` refuses them.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "403": {
      "description": "not_authorised \u2014 address-dependent and deliberately not silent: `for:\"write\"` and the address is neither the journal's owner nor on the named trip.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "404": {
      "description": "auth_disabled / signup_disabled \u2014 server-wide or per-journal capability off (the per-journal check only applies for `for:\"read\"`/`\"write\"`, once `user` resolves to a real journal).",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "429": {
      "description": "too_many_requests \u2014 per-IP bucket, narrower for `for:\"write\"` than for `for:\"read\"`.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "503": {
      "description": "mail_disabled / whatsapp_disabled (checked before issuing, so a live code is never silently killed for an undeliverable replacement) or mail_failed / whatsapp_failed (the channel accepted the request but the send itself failed; the code is revoked before this is returned).",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     }
    }
   }
  },
  "/api/auth/codes/redeem": {
   "post": {
    "tags": [
     "Auth"
    ],
    "summary": "Spend a one-time code",
    "description": "Redeems a code issued by POST /api/auth/codes. `for:\"read\"`/`\"identity\"` set cookies and return no token in the body; `for:\"read\"` also mints the identity cookie in the same response (proving an address for one journal proves the address), guarded so a database hiccup minting the bonus identity never turns a successful sign-in into a failure. `for:\"write\"`/`\"signup\"` return the token as the whole body, never a cookie. A `scope.trip` may only repeat the trip already bound to the code at issuance (B230) \u2014 naming a different one is refused identically to a wrong code.",
    "operationId": "authRedeemCode",
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/AuthCodeRedeem"
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "For `for:\"read\"`/`\"identity\"`, cookies are set and AuthCookieSession is returned; for `for:\"write\"`/`\"signup\"`, AuthTokenIssued is returned with the credential in the body.",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "$ref": "#/components/schemas/AuthCookieSession"
          },
          {
           "$ref": "#/components/schemas/AuthTokenIssued"
          }
         ]
        }
       }
      }
     },
     "400": {
      "description": "invalid_request \u2014 shape only.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "401": {
      "description": "invalid_code \u2014 uniform for no code, expired, wrong, burned, wrong `for`, or a `scope.trip` that does not match the bound code. A caller holding no code must not be able to learn anything about someone else's by trying values here.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "404": {
      "description": "auth_disabled / signup_disabled.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "429": {
      "description": "too_many_requests.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     }
    }
   }
  },
  "/api/auth/links/redeem": {
   "post": {
    "tags": [
     "Auth"
    ],
    "summary": "Redeem a one-click link",
    "description": "One door replaces /api/auth/link and /api/auth/identity/link. A link is spent only by POST, never GET (B142: a mail scanner follows links, it does not submit forms). Only `for:\"read\"`/`\"identity\"` exist as links \u2014 an agent has no browser to follow one, and a signup link would quietly create a journal on arrival, which nobody has ever wanted.",
    "operationId": "authRedeemLink",
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/AuthLinkRedeem"
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Cookie(s) set, mirrors codes/redeem's read/identity shape plus the safe-checked landing path.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AuthLinkSession"
        }
       }
      }
     },
     "401": {
      "description": "link_spent \u2014 uniform for never existed, already spent, and expired. The token is 256 bits, so nothing here is worth distinguishing for an attacker; a caller is told the same as today: request a new code.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "404": {
      "description": "not_found \u2014 unknown user, or journal-level auth off. Same disclosure posture as today.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "429": {
      "description": "too_many_requests.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     }
    }
   }
  },
  "/api/auth/identity/upgrade": {
   "post": {
    "tags": [
     "Auth"
    ],
    "summary": "Mint an identity cookie from a live guest cookie",
    "description": "No code round trip: an already-proven guest session is enough to mint the year-long identity cookie. Idempotent \u2014 returns issued:false if one already exists. Unchanged from v1; already the smallest possible door for what it does.",
    "operationId": "authUpgradeIdentity",
    "security": [
     {
      "cookieAuth": []
     }
    ],
    "responses": {
     "200": {
      "description": "Identity cookie set (or already present).",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AuthIdentityUpgradeResponse"
        }
       }
      }
     },
     "401": {
      "description": "no_session \u2014 no guest cookie presented at all.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "429": {
      "description": "too_many_requests.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     }
    }
   }
  },
  "/api/auth/logout": {
   "post": {
    "tags": [
     "Auth"
    ],
    "summary": "Revoke and clear the guest and identity cookies",
    "description": "Revokes both sessions server-side and clears both cookies in the browser, in one call. Unchanged from v1.",
    "operationId": "authLogout",
    "security": [
     {
      "cookieAuth": []
     }
    ],
    "responses": {
     "200": {
      "description": "Both cookies cleared.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AuthOk"
        }
       }
      }
     }
    }
   }
  },
  "/api/auth/{user}/handover": {
   "post": {
    "tags": [
     "Auth"
    ],
    "summary": "Mint a 20-minute handover credential",
    "description": "The owner's browser page reaches this with their guest cookie so a whole prompt can be pasted into an agent instead of reading a six-digit code down a phone; a live agent token may also reach it with its own bearer to renew itself before it expires. The one deliberate exception to this design's one-credential-per-route rule, carried over unchanged from B776. Twenty minutes, not a week, because the guest cookie that mints it lasts a year \u2014 printing a 7-day agent token here would make that year-old cookie the real ceiling. Moved from /api/v1/{user}/handover: it issues a credential and touches no document, so it belongs with the rest of the credential family.",
    "operationId": "authMintHandover",
    "security": [
     {
      "cookieAuth": []
     },
     {
      "bearerAuth": []
     }
    ],
    "parameters": [
     {
      "name": "user",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The journal the handover credential is scoped to."
     }
    ],
    "responses": {
     "200": {
      "description": "Handover credential minted.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AuthHandoverMint"
        }
       }
      }
     },
     "403": {
      "description": "forbidden \u2014 not the owner by either credential.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "404": {
      "description": "auth_disabled \u2014 server- or journal-level.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     }
    }
   }
  },
  "/api/auth/handover": {
   "post": {
    "tags": [
     "Auth"
    ],
    "summary": "Exchange a handover credential for a 7-day agent token",
    "description": "Bearer-in: the handover token itself, refused down any other channel. Returns an agent token out. Unchanged from v1 beyond now living entirely under /api/auth.",
    "operationId": "authExchangeHandover",
    "security": [
     {
      "bearerAuth": []
     }
    ],
    "responses": {
     "200": {
      "description": "Agent token issued.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AuthTokenIssued"
        }
       }
      }
     },
     "401": {
      "description": "missing_token, or invalid_handover \u2014 uniform for expired, spent, or wrong-kind.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "404": {
      "description": "auth_disabled.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     }
    }
   }
  },
  "/api/auth/signup/phone": {
   "post": {
    "tags": [
     "Auth"
    ],
    "summary": "Start phone proof on a signup token",
    "description": "Renamed from .../phone/request for consistency with codes/redeem; behaviour unchanged. Bearer is the signup token. Sends an SMS code, or \u2014 in whatsapp-inbound mode \u2014 returns a link and prepared message to poll instead of taking a number. Three rate ceilings (number, address, instance); sms_unreachable is refused before any ceiling is spent.",
    "operationId": "authStartSignupPhone",
    "security": [
     {
      "bearerAuth": []
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/AuthPhoneStartRequest"
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "SMS sent, or an inbound link/message to poll.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AuthPhoneStartResponse"
        }
       }
      }
     },
     "400": {
      "description": "invalid_request / sms_unreachable \u2014 the number cannot receive SMS.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "401": {
      "description": "invalid_token \u2014 bearer is not a live signup token.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "429": {
      "description": "too_many_requests \u2014 number, address, or instance ceiling exceeded.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     }
    }
   }
  },
  "/api/auth/signup/phone/redeem": {
   "post": {
    "tags": [
     "Auth"
    ],
    "summary": "Check the SMS code, or poll the inbound link",
    "description": "Renamed from .../phone/verify for consistency; behaviour unchanged. Bearer is the signup token. `code` present checks an SMS/App code; `code` absent polls an inbound link. On success writes phone/phoneProvenAt/phoneProvenMethod onto the signup session, read later by POST /api/v1/journals rather than trusted from the create-journal body.",
    "operationId": "authRedeemSignupPhone",
    "security": [
     {
      "bearerAuth": []
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/AuthPhoneRedeemRequest"
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Phone proven on the session, or still pending for a poll with no code.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AuthPhoneRedeemResponse"
        }
       }
      }
     },
     "400": {
      "description": "invalid_request.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "401": {
      "description": "invalid_token / invalid_code.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "429": {
      "description": "too_many_requests.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     }
    }
   }
  },
  "/api/auth/{user}/keys": {
   "get": {
    "tags": [
     "Auth"
    ],
    "summary": "List the journal's live write-capable credentials",
    "description": "Owner only (cookie or bearer \u2014 the owner's own agent token counts, same as today). Sees and may revoke every live write/handover row. Moved from /api/v1/{user}/keys, split from the self-service door below so a route's credential shape is never ambiguous, per the four-prefix rule this design otherwise holds to strictly (handover's mint door above is this design's one other allowance).",
    "operationId": "authListOwnerKeys",
    "security": [
     {
      "cookieAuth": []
     },
     {
      "bearerAuth": []
     }
    ],
    "parameters": [
     {
      "name": "user",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Every live write/handover credential on this journal, each row carrying the holder's email.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AuthKeysList"
        }
       }
      }
     },
     "403": {
      "description": "forbidden \u2014 not the owner.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "404": {
      "description": "Unknown journal.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "409": {
      "description": "auth_disabled \u2014 the journal exists but the feature is off.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     }
    }
   },
   "post": {
    "tags": [
     "Auth"
    ],
    "summary": "Revoke one of the journal's write-capable credentials",
    "description": "Owner only, same credential shape as the GET on this door.",
    "operationId": "authRevokeOwnerKey",
    "security": [
     {
      "cookieAuth": []
     },
     {
      "bearerAuth": []
     }
    ],
    "parameters": [
     {
      "name": "user",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/AuthKeyRevoke"
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Revoked.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AuthOk"
        }
       }
      }
     },
     "400": {
      "description": "invalid_request \u2014 missing `revoke`.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "403": {
      "description": "forbidden \u2014 not the owner.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "404": {
      "description": "unknown_key \u2014 wrong journal, or unknown id; also unknown journal.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "409": {
      "description": "auth_disabled \u2014 the journal exists, the feature is off.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     }
    }
   }
  },
  "/api/auth/{user}/keys/mine": {
   "get": {
    "tags": [
     "Auth"
    ],
    "summary": "List the caller's own live write-capable credentials on this journal",
    "description": "Self-service: cookie (guest or identity) or bearer (a write token), scoped by construction to the caller's own proven address \u2014 never a parameter, never widened. Lets a buddy revoke their own leaked key without the owner's involvement (B323). A stranger holding neither credential gets forbidden rather than not-found, matching v1's reasoning: refusing after ownership/address is established never confirms or denies journal existence, because both keys doors 404 for a nonexistent user before the credential is even checked. Rows omit `email` since every row shown is already the caller's own.",
    "operationId": "authListMyKeys",
    "security": [
     {
      "cookieAuth": []
     },
     {
      "bearerAuth": []
     }
    ],
    "parameters": [
     {
      "name": "user",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "The caller's own live write/handover credentials on this journal.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AuthKeysList"
        }
       }
      }
     },
     "403": {
      "description": "forbidden \u2014 no address proven at all.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "404": {
      "description": "Unknown journal.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "409": {
      "description": "auth_disabled.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     }
    }
   },
   "post": {
    "tags": [
     "Auth"
    ],
    "summary": "Revoke one of the caller's own credentials on this journal",
    "description": "Same credential shape as the GET on this door; unknown_key answers identically whether the id belongs to a different journal or simply is not this caller's own row.",
    "operationId": "authRevokeMyKey",
    "security": [
     {
      "cookieAuth": []
     },
     {
      "bearerAuth": []
     }
    ],
    "parameters": [
     {
      "name": "user",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/AuthKeyRevoke"
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Revoked.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AuthOk"
        }
       }
      }
     },
     "400": {
      "description": "invalid_request \u2014 missing `revoke`.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "403": {
      "description": "forbidden \u2014 no address proven at all.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "404": {
      "description": "unknown_key \u2014 wrong journal, or not this caller's own row; also unknown journal.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "409": {
      "description": "auth_disabled.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     }
    }
   }
  },
  "/api/v2/{user}/invites": {
   "get": {
    "tags": [
     "Social"
    ],
    "summary": "List every invite link this journal has issued",
    "description": "Owner-scope only, never trip-scoped: an invite is a decision about who gets to ask, not about a trip's own days. Returns the stored token hash resolved into a recoverable `url` only when CONTACTS_ENCRYPTION_KEY is configured on this instance (listInvitesWithLinks); otherwise `url` is omitted per row and a lost link must be reissued rather than recovered.",
    "operationId": "socialListInvites",
    "security": [
     {
      "bearerAuth": []
     }
    ],
    "parameters": [
     {
      "name": "user",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Every invite this journal has issued, owner-only.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "required": [
          "invites"
         ],
         "properties": {
          "invites": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/SocialInvite"
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "forbidden \u2014 not the owner, or a trip-scoped token.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "409": {
      "description": "contacts_disabled \u2014 this journal has the contacts capability off.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     }
    }
   },
   "post": {
    "tags": [
     "Social"
    ],
    "summary": "Create a guest or buddy invite link",
    "description": "A forwardable link that lets somebody ASK to join \u2014 never a grant. `guest` reads journal-wide once approved; `buddy` writes to one named trip once approved. Exists for exactly the case trip.people cannot serve: no address in hand yet, or one object to forward to a group. `email` present makes this the owner vouching for an address \u2014 mails the link and pre-approves that exact address on confirmation (B319); absent, it is a link to copy and hand over another way. `id` is client-chosen (rule 6); retrying a create with the same id returns the stored invite rather than a duplicate.",
    "operationId": "socialCreateInvite",
    "security": [
     {
      "bearerAuth": []
     }
    ],
    "parameters": [
     {
      "name": "user",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/SocialInviteCreate"
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Invite created. `url` is present here once \u2014 only the token's hash is stored, so this is the only guaranteed read of the raw link.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/SocialInvite"
        }
       }
      }
     },
     "400": {
      "description": "invalid_request \u2014 buddy kind with no trip, guest kind with a trip, or a malformed email.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "403": {
      "description": "forbidden \u2014 not the owner.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "404": {
      "description": "unknown_trip \u2014 buddy kind naming a trip that does not exist.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "409": {
      "description": "Either contacts_disabled, or a retried `id` \u2014 same id, same body already stored, returns the existing invite unchanged.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "422": {
      "description": "Incomplete request \u2014 details follow IncompleteDetails.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     }
    }
   }
  },
  "/api/v2/{user}/invites/{id}": {
   "delete": {
    "tags": [
     "Social"
    ],
    "summary": "Revoke one invite link",
    "description": "Owner-scope only. Revoking does not touch any contact or trip-place row already approved through the link \u2014 see contacts/{id}/revoke for that reversal.",
    "operationId": "socialRevokeInvite",
    "security": [
     {
      "bearerAuth": []
     }
    ],
    "parameters": [
     {
      "name": "user",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Revoked.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/SocialInvite"
        }
       }
      }
     },
     "403": {
      "description": "forbidden \u2014 not the owner.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "404": {
      "description": "unknown_invite.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     }
    }
   }
  },
  "/api/v2/{user}/contacts": {
   "get": {
    "tags": [
     "Social"
    ],
    "summary": "List every contact in this journal's address book",
    "description": "Owner-scope only, never trip-scoped (B340: writing days is not deciding who reads the journal). approveContact remains the only code path that writes an access_grants row; this door only re-houses reading and requesting that action.",
    "operationId": "socialListContacts",
    "security": [
     {
      "bearerAuth": []
     }
    ],
    "parameters": [
     {
      "name": "user",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "The whole contact list.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "required": [
          "contacts"
         ],
         "properties": {
          "contacts": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/SocialContact"
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "forbidden.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "409": {
      "description": "contacts_disabled.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     }
    }
   },
   "post": {
    "tags": [
     "Social"
    ],
    "summary": "The owner adds a contact by hand",
    "description": "Mails the named address a pre-approved invite, the same trust as an owner-vouched invite link. Refused with self_authored semantics do not apply here \u2014 that refusal is for editing a row POST /contacts/self wrote.",
    "operationId": "socialCreateContact",
    "security": [
     {
      "bearerAuth": []
     }
    ],
    "parameters": [
     {
      "name": "user",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/SocialContactCreate"
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Contact created, pending confirmation.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/SocialContact"
        }
       }
      }
     },
     "400": {
      "description": "invalid_address or invalid_phone \u2014 wantsPostcard/wantsWhatsapp true with an unusable address/number.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "403": {
      "description": "forbidden.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "409": {
      "description": "contact_exists \u2014 a row with this email already exists; or contacts_disabled.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "422": {
      "description": "Incomplete request \u2014 details follow IncompleteDetails.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     }
    }
   }
  },
  "/api/v2/{user}/contacts/{id}": {
   "get": {
    "tags": [
     "Social"
    ],
    "summary": "Read one contact",
    "operationId": "socialGetContact",
    "security": [
     {
      "bearerAuth": []
     }
    ],
    "parameters": [
     {
      "name": "user",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "The contact.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/SocialContact"
        }
       }
      }
     },
     "403": {
      "description": "forbidden.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "404": {
      "description": "unknown_contact.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     }
    }
   },
   "patch": {
    "tags": [
     "Social"
    ],
    "summary": "Owner corrections to a contact",
    "description": "Merge-patch, absent fields unchanged. Changing `email` on an already-active row demotes it to pending and clears its grants \u2014 an address change is a new address, and a new address has proved nothing yet. Refused with self_authored on a row POST /contacts/self wrote: the owner may see, approve, revoke or delete it, never silently rewrite it (B1395). Status itself is never patched here \u2014 see the approve/revoke/resend actions, kept as explicit doors because status is the safety shape, not a plain field.",
    "operationId": "socialUpdateContact",
    "security": [
     {
      "bearerAuth": []
     }
    ],
    "parameters": [
     {
      "name": "user",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/SocialContactPatch"
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Updated.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/SocialContact"
        }
       }
      }
     },
     "400": {
      "description": "invalid_address or invalid_phone.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "403": {
      "description": "forbidden.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "404": {
      "description": "unknown_contact.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "409": {
      "description": "self_authored \u2014 this row was written by POST /contacts/self and may not be silently rewritten.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     }
    }
   },
   "delete": {
    "tags": [
     "Social"
    ],
    "summary": "Delete a contact",
    "operationId": "socialDeleteContact",
    "security": [
     {
      "bearerAuth": []
     }
    ],
    "parameters": [
     {
      "name": "user",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Deleted.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "required": [
          "ok"
         ],
         "properties": {
          "ok": {
           "type": "boolean"
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "forbidden.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "404": {
      "description": "unknown_contact.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     }
    }
   }
  },
  "/api/v2/{user}/contacts/{id}/approve": {
   "post": {
    "tags": [
     "Social"
    ],
    "summary": "Approve a pending contact",
    "description": "The only door left onto approveContact, still the only code path in the codebase that writes an access_grants row. Refuses on an address that has not proved itself yet. Echoes tripsOpened \u2014 the trip ids any pending buddy-link requests just opened by this one click \u2014 so the owner sees exactly what happened (B244).",
    "operationId": "socialApproveContact",
    "security": [
     {
      "bearerAuth": []
     }
    ],
    "parameters": [
     {
      "name": "user",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Approved.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/SocialContactActionResponse"
        }
       }
      }
     },
     "403": {
      "description": "forbidden.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "404": {
      "description": "unknown_contact.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "409": {
      "description": "not_confirmed \u2014 the address behind this contact has not proved itself yet.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     }
    }
   }
  },
  "/api/v2/{user}/contacts/{id}/revoke": {
   "post": {
    "tags": [
     "Social"
    ],
    "summary": "Revoke an approved contact",
    "description": "Reversible (B213): approving again restores both the journal grant and every trip place this contact held.",
    "operationId": "socialRevokeContact",
    "security": [
     {
      "bearerAuth": []
     }
    ],
    "parameters": [
     {
      "name": "user",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Revoked.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/SocialContact"
        }
       }
      }
     },
     "403": {
      "description": "forbidden.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "404": {
      "description": "unknown_contact.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     }
    }
   }
  },
  "/api/v2/{user}/contacts/{id}/resend": {
   "post": {
    "tags": [
     "Social"
    ],
    "summary": "Re-mail a pending contact's confirmation invite",
    "description": "Rate-limited per contact, unchanged from v1.",
    "operationId": "socialResendContact",
    "security": [
     {
      "bearerAuth": []
     }
    ],
    "parameters": [
     {
      "name": "user",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Resent.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "required": [
          "ok"
         ],
         "properties": {
          "ok": {
           "type": "boolean"
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "forbidden.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "404": {
      "description": "unknown_contact.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "429": {
      "description": "too_many_requests \u2014 resend is rate-limited per contact.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     }
    }
   }
  },
  "/api/v2/{user}/contacts/import": {
   "post": {
    "tags": [
     "Social"
    ],
    "summary": "File agreed vCard rows as pending contacts",
    "description": "Filing rows a person already agreed to is agent work: a person told an agent 'these are real,' and the agent files them. Each row still lands pending with its own confirmation mail \u2014 never pre-approved, so importing twenty rows is never a way past the one proof every other contact needs.",
    "operationId": "socialImportContacts",
    "security": [
     {
      "bearerAuth": []
     }
    ],
    "parameters": [
     {
      "name": "user",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "rows"
        ],
        "properties": {
         "rows": {
          "type": "array",
          "items": {
           "type": "object",
           "required": [
            "name",
            "email"
           ],
           "properties": {
            "name": {
             "type": "string"
            },
            "email": {
             "type": "string",
             "format": "email"
            },
            "address": {
             "type": [
              "object",
              "null"
             ]
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Rows filed as pending contacts.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "required": [
          "created"
         ],
         "properties": {
          "created": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/SocialContact"
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "forbidden.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "409": {
      "description": "contacts_disabled.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "422": {
      "description": "Incomplete request \u2014 details follow IncompleteDetails.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     }
    }
   }
  },
  "/api/web/{user}/contacts/ask": {
   "post": {
    "tags": [
     "Social"
    ],
    "summary": "A signed-in reader who just met a locked trip asks to be let in",
    "description": "Cookie only \u2014 there is no agent on this side of the door: the person is a reader nobody runs an agent for. Name only; the address is taken off the session, never the body.",
    "operationId": "socialContactsAsk",
    "security": [
     {
      "cookieAuth": []
     }
    ],
    "parameters": [
     {
      "name": "user",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "trip",
         "name"
        ],
        "properties": {
         "trip": {
          "type": "string"
         },
         "name": {
          "type": "string",
          "maxLength": 120
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Asked \u2014 a pendingTrips entry is added to this contact for the owner to see.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "required": [
          "ok"
         ],
         "properties": {
          "ok": {
           "type": "boolean"
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "unauthenticated \u2014 no identity session.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "404": {
      "description": "unknown_trip \u2014 answers identically for no-such-trip and no-read-access, to avoid becoming an oracle.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "409": {
      "description": "contacts_disabled.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     }
    }
   }
  },
  "/api/web/{user}/contacts/redeem": {
   "post": {
    "tags": [
     "Social"
    ],
    "summary": "Redeem a guest or buddy invite link, or answer a guestbook form",
    "description": "One door, one validation path. Unifies v1's session-or-code redeem with the old personal-link guestbook form (POST /api/contacts/request), retired as a distinct route now that `personal` is folded into `guest`. Proves an address (session or a mailed code) and writes a pending contact \u2014 and, for a buddy link, a pending trip-people row too.",
    "operationId": "socialContactsRedeem",
    "parameters": [
     {
      "name": "user",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "token",
         "name",
         "email"
        ],
        "properties": {
         "token": {
          "type": "string",
          "description": "The invite link's token."
         },
         "name": {
          "type": "string",
          "maxLength": 120
         },
         "email": {
          "type": "string",
          "format": "email"
         },
         "address": {
          "type": [
           "object",
           "null"
          ]
         },
         "phone": {
          "type": "string"
         },
         "wantsEmailDigest": {
          "type": "boolean"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Pending contact (and, for a buddy link, pending trip-people row) written; a confirmation code sent.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "required": [
          "ok"
         ],
         "properties": {
          "ok": {
           "type": "boolean"
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "unknown_invite \u2014 invalid, expired or revoked token.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "400": {
      "description": "invalid_request \u2014 malformed email or missing name.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     }
    }
   }
  },
  "/api/web/{user}/contacts/confirm": {
   "post": {
    "tags": [
     "Social"
    ],
    "summary": "Confirm the six-digit code from a redeem",
    "description": "Second half of the code proof. If the address was pre-approved by an owner-vouched invite or contact (B319), confirming also approves the row outright \u2014 the same approveContact write path, triggered by a proof rather than a click.",
    "operationId": "socialContactsConfirm",
    "parameters": [
     {
      "name": "user",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "email",
         "code"
        ],
        "properties": {
         "email": {
          "type": "string",
          "format": "email"
         },
         "code": {
          "type": "string",
          "minLength": 6,
          "maxLength": 6
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Confirmed, and approved if pre-approved.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "required": [
          "ok"
         ],
         "properties": {
          "ok": {
           "type": "boolean"
          },
          "approved": {
           "type": "boolean"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "invalid_code \u2014 wrong or expired code.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "429": {
      "description": "too_many_requests.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     }
    }
   }
  },
  "/api/web/{user}/contacts/manage": {
   "get": {
    "tags": [
     "Social"
    ],
    "summary": "Read a contact's own self-serve page",
    "description": "Keyed on `?token=`, a per-row token, not on a session \u2014 the person managing their own row need not be signed in to this journal at all.",
    "operationId": "socialContactsManageGet",
    "parameters": [
     {
      "name": "user",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "token",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "This row's own view.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/SocialContact"
        }
       }
      }
     },
     "404": {
      "description": "unknown_token.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     }
    }
   },
   "patch": {
    "tags": [
     "Social"
    ],
    "summary": "Edit or unsubscribe your own contact row",
    "operationId": "socialContactsManagePatch",
    "parameters": [
     {
      "name": "user",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "token",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/SocialContactManagePatch"
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Updated.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/SocialContact"
        }
       }
      }
     },
     "400": {
      "description": "invalid_request.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "404": {
      "description": "unknown_token.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     }
    }
   },
   "delete": {
    "tags": [
     "Social"
    ],
    "summary": "Erase your own contact row",
    "description": "The GDPR/DSG erase \u2014 removes the row entirely, not a status change.",
    "operationId": "socialContactsManageDelete",
    "parameters": [
     {
      "name": "user",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "token",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Erased.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "required": [
          "ok"
         ],
         "properties": {
          "ok": {
           "type": "boolean"
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "unknown_token.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     }
    }
   }
  },
  "/api/web/{user}/contacts/self": {
   "post": {
    "tags": [
     "Social"
    ],
    "summary": "A traveller already on a trip's people list registers or reconfirms their own contact row",
    "description": "Needed even after trip.people's auto-mail, because that mail only fires at the moment the trip is written \u2014 a person added before contacts was ever switched on, or whose mail bounced, still needs a way to self-register once they are already, silently, a traveller with write access. Also the door the helper's own add-me wrapper is retired in favour of, since it already called addSelfContact underneath. A row this route writes is marked self_authored and the owner may see, approve or revoke it, but not silently rewrite it (B1395).",
    "operationId": "socialContactsSelf",
    "security": [
     {
      "cookieAuth": []
     }
    ],
    "parameters": [
     {
      "name": "user",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "email": {
          "type": "string",
          "format": "email"
         },
         "locale": {
          "type": "string"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Row registered or reconfirmed.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/SocialContact"
        }
       }
      }
     },
     "401": {
      "description": "unauthenticated.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "403": {
      "description": "forbidden \u2014 caller is not listed in any trip's people.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     }
    }
   }
  },
  "/api/v2/{user}/trips/{trip}/days/{slug}/send": {
   "post": {
    "tags": [
     "Social"
    ],
    "summary": "Resend a published day's letter and/or WhatsApp announcement",
    "description": "One door replaces v1's two identical routes (send-mail, send-whatsapp): the only thing that differed was which recipient array sendDayLetter/sendDayWhatsapp walked, and a caller wanting both made two round trips for one intention. Owner-scope only \u2014 a trip-scoped token may write days into a trip and must not be able to mail or message the journal's whole readership (B28). A channel that is switched off for this journal, or unavailable on this server, answers inside `results` as attempted:false rather than failing the whole call when the other channel still sent.",
    "operationId": "socialSendDay",
    "security": [
     {
      "bearerAuth": []
     }
    ],
    "parameters": [
     {
      "name": "user",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "trip",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "slug",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/SocialSendRequest"
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Send attempted per requested channel. Never full addresses or phone numbers \u2014 counts, and a masked last-four for a WhatsApp failure.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/SocialSendResponse"
        }
       }
      }
     },
     "400": {
      "description": "invalid_request \u2014 empty or unknown channels array; or test_content \u2014 test:true days send nothing, ever.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "403": {
      "description": "forbidden \u2014 trip-scoped token, or not the owner.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "404": {
      "description": "unknown_trip or unknown_day.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "409": {
      "description": "not_published \u2014 publish the day first.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     }
    }
   }
  },
  "/api/v2/{user}/channels": {
   "get": {
    "tags": [
     "Social"
    ],
    "summary": "Read this journal's channel mute switches",
    "description": "The owner's own mute switches for mail and WhatsApp \u2014 narrower than the server's capability, never wider. Distinct from the core journal document's read-only `features` block (instance plumbing, reported by /api/health and /status); this is a small owner-writable preference scoped to gating the two sending doors.",
    "operationId": "socialGetChannels",
    "security": [
     {
      "bearerAuth": []
     }
    ],
    "parameters": [
     {
      "name": "user",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Current switches. null where the server does not offer the channel at all, so an impossible switch never reads back as a confident false.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/SocialChannels"
        }
       }
      }
     },
     "403": {
      "description": "forbidden.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "404": {
      "description": "no_such_journal.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     }
    }
   },
   "patch": {
    "tags": [
     "Social"
    ],
    "summary": "Mute or unmute a sending channel",
    "description": "Merge-patch: absent means unchanged, deliberately plain-optional rather than asked-or-declined (rule 2's carve-out \u2014 a mute switch is a toggle on an existing value, not a section assembled from nothing).",
    "operationId": "socialUpdateChannels",
    "security": [
     {
      "bearerAuth": []
     }
    ],
    "parameters": [
     {
      "name": "user",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/SocialChannelsPatch"
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Updated.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/SocialChannels"
        }
       }
      }
     },
     "400": {
      "description": "invalid_request \u2014 unknown channel name or non-boolean value.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "403": {
      "description": "forbidden.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "404": {
      "description": "no_such_journal.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "409": {
      "description": "capability_unavailable \u2014 the server has no plumbing at all for this channel.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "429": {
      "description": "too_many_requests.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     }
    }
   }
  },
  "/api/web/{user}/trips/{trip}/days/{slug}/reactions": {
   "get": {
    "tags": [
     "Social"
    ],
    "summary": "Read a day's reaction counts, and one browser's own picks",
    "description": "Cookie-optional: mayReadTrip reads one if present, else treats the trip as a public reader would \u2014 an anonymous reader of a public trip has no cookie and still votes. A trip nobody may read must answer exactly as a trip that does not exist, and a journal with reactions off must answer exactly as a journal that does not exist \u2014 both 404, byte-identical, so this route can never become an oracle for whether a trip or user exists (the same discipline B117 and B165 established elsewhere). Moved from v1's flat /api/reactions keyed by a trip-ref-in-body to this nested path; the two-refusal shape (unknown_trip vs reactions_disabled, both 404 with distinct bodies) moves verbatim rather than being 'fixed' into distinct status codes, which would reopen the oracle.",
    "operationId": "socialGetReactions",
    "parameters": [
     {
      "name": "user",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "trip",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "slug",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "voter",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "maxLength": 64
      },
      "description": "This browser's own random id, from localStorage. Omit to read counts only."
     }
    ],
    "responses": {
     "200": {
      "description": "Counts, plus this voter's own picks if a voter id was given.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/SocialReactionsRead"
        }
       }
      }
     },
     "404": {
      "description": "unknown_trip (no such trip, unreadable trip, or nonexistent user \u2014 deliberately identical) or reactions_disabled (this journal has reactions off \u2014 same status, distinct body).",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     }
    }
   },
   "post": {
    "tags": [
     "Social"
    ],
    "summary": "Cast or change one reaction",
    "description": "Cookie-optional, same as GET. voter is a browser-generated id, not a person \u2014 a reaction from the same device with a cleared localStorage is a new voter, by design.",
    "operationId": "socialCastReaction",
    "parameters": [
     {
      "name": "user",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "trip",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "slug",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/SocialReactionCast"
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Vote recorded.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/SocialReactionsRead"
        }
       }
      }
     },
     "400": {
      "description": "bad_request \u2014 missing voter/emoji, or malformed JSON.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "404": {
      "description": "unknown_trip or reactions_disabled \u2014 identical shape to GET's, for the same oracle reasons.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "429": {
      "description": "too_many_requests.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     }
    }
   }
  },
  "/api/v2/{user}/postcards/orders/{id}": {
   "put": {
    "tags": [
     "Print"
    ],
    "summary": "Propose a postcard order (client-chosen id)",
    "description": "Writes a draft the owner can look at and correct before anything prints or is charged. Client-chosen id (rule 6): the agent names the order id, so a retried propose is idempotent \u2014 a repeat with the same body reads back the stored document rather than minting a second, forgotten draft (the v1 bug this shape fixes). Whole document, written whole: crop, message-editing and recipient-editing stay owner-only browser doors (see /api/web/{user}/postcards/orders/{id}) because an agent has no way to see a rendered crop or a figures toggle. Owner-scope bearer only \u2014 a trip-scoped token is refused, the same \"being on the bus is not spending the journal's credits\" line v1 gives.",
    "operationId": "printPutPostcardOrder",
    "security": [
     {
      "bearerAuth": []
     }
    ],
    "parameters": [
     {
      "name": "user",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "Agent-chosen order id."
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/PrintPostcardOrderWrite"
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Draft written. Nothing has been printed or charged.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PrintPostcardOrder"
        }
       }
      }
     },
     "400": {
      "description": "invalid_request \u2014 message/from empty or oversize, or more than 25 recipients.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "401": {
      "description": "missing_token / invalid_token.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "403": {
      "description": "forbidden \u2014 not the owner, or a trip-scoped token (owner-scope only).",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "404": {
      "description": "unknown_trip / unknown_day / unknown_photo / unknown_inbox_file.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "409": {
      "description": "Retried id with a body that disagrees with the stored order (rule 6) \u2014 the stored document is returned unchanged.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PrintPostcardOrder"
        }
       }
      }
     },
     "422": {
      "description": "unknown_recipient \u2014 one or more contact ids are not in postcards/recipients; details follows IncompleteDetails with an `unknown: string[]` field.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "451": {
      "description": "test_content \u2014 the day or trip carries test: true; content nobody lived cannot be printed.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "503": {
      "description": "postcards_disabled / contacts_disabled / no_database.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     }
    }
   },
   "get": {
    "tags": [
     "Print"
    ],
    "summary": "Read one postcard order",
    "description": "The order's current state \u2014 source, message, from, recipients, credits frozen at propose time, timestamps, and once sent, per-recipient results. Never an address: recipients are contact ids, and Stannp's own further word on a card (providerStatus: cancelled) is additive and never contradicts ok. Owner-scope bearer only.",
    "operationId": "printGetPostcardOrder",
    "security": [
     {
      "bearerAuth": []
     }
    ],
    "parameters": [
     {
      "name": "user",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "The order.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PrintPostcardOrder"
        }
       }
      }
     },
     "401": {
      "description": "missing_token / invalid_token.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "403": {
      "description": "forbidden \u2014 not the owner.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "404": {
      "description": "unknown_order.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     },
     "503": {
      "description": "postcards_disabled.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorEnvelope"
        }
       }
      }
     }
    }
   }
  },
[...]
